microservices/n8n/vnepress_crawler_workflow.json
{
  "name": "test-ai",
  "nodes": [
    {
      "parameters": {
        "url": "=http://host.docker.internal:8000/api/v1/categories",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"text\": \"hello what is your name\"}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        0,
        96
      ],
      "id": "f6e43f04-9762-44c4-a36c-88f3726db292",
      "name": "HTTP Request"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -320,
        304
      ],
      "id": "f71052d9-9cce-4908-a16f-c7ea6da9c600",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "14_e5HxhDkqZNEN6XBn8eeWR9zkW7Kb_A7w95Cb1EqI4",
          "mode": "list",
          "cachedResultName": "2025_01_vnexpress_raw_kttt",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14_e5HxhDkqZNEN6XBn8eeWR9zkW7Kb_A7w95Cb1EqI4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "categories",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14_e5HxhDkqZNEN6XBn8eeWR9zkW7Kb_A7w95Cb1EqI4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "category_id"
          ],
          "schema": [
            {
              "id": "category_id",
              "displayName": "category_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "category_url",
              "displayName": "category_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "category_name",
              "displayName": "category_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "parent_id",
              "displayName": "parent_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "level",
              "displayName": "level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "crawled_at",
              "displayName": "crawled_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        400,
        96
      ],
      "id": "6f28eb8c-2827-4b38-8763-0d93ac8f3724",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QtzrPRfk0EICW3io",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = Object.values($input.first().json.data);\n\nfunction formatDate(date) {\n  const pad = n => n.toString().padStart(2, '0');\n  return `${date.getFullYear()}-${pad(date.getMonth() + 1)}-${pad(date.getDate())} `\n       + `${pad(date.getHours())}:${pad(date.getMinutes())}:${pad(date.getSeconds())}`;\n}\n\nreturn items.map(item => ({\n  category_id: item.id,\n  category_url: item.url,\n  category_name: item.name,\n  parent_id: item.parent_id,\n  level: item.parent_id ? 1 : 0,\n  crawled_at: formatDate(new Date()),\n  status: \"active\",\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        96
      ],
      "id": "ebce7dde-c55d-43c2-aaef-1a1642fa577a",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "content": "## Collect Categories",
        "height": 80,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "31ddc059-55a8-493c-91e9-7f81239e3e74",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "14_e5HxhDkqZNEN6XBn8eeWR9zkW7Kb_A7w95Cb1EqI4",
          "mode": "list",
          "cachedResultName": "2025_01_vnexpress_raw_kttt",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14_e5HxhDkqZNEN6XBn8eeWR9zkW7Kb_A7w95Cb1EqI4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1009975623,
          "mode": "list",
          "cachedResultName": "setting_categories",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14_e5HxhDkqZNEN6XBn8eeWR9zkW7Kb_A7w95Cb1EqI4/edit#gid=1009975623"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        0,
        464
      ],
      "id": "07c083d2-add9-465c-9d0c-0f1ef240bbba",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QtzrPRfk0EICW3io",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {
        "url": "=http://host.docker.internal:8000/api/v1/articles/category-date/{{ $('Loop Over Items').first().json.category_id }}?from_date={{ $('Loop Over Items').first().json.from_date }}&to_date={{ $('Loop Over Items').first().json.to_date }}&page={{ $json.page }}&limit=100",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        608,
        464
      ],
      "id": "aeeecca4-c8c1-4544-a924-d803fa653bb0",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        208,
        464
      ],
      "id": "d0dc1890-6988-4a37-a5fe-02f2c5d536ec",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "88d24c41-3520-44f7-9979-1ba04ae45a7b",
              "leftValue": "={{ $('HTTP Request1').item.json.data }}",
              "rightValue": 0,
              "operator": {
                "type": "array",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1008,
        464
      ],
      "id": "093bf7d8-fbc2-4349-89f0-486c5b12ecf2",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "\n\nreturn {\n  page:$('Code in JavaScript2').first().json.page  +1\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1584,
        464
      ],
      "id": "008739a0-faaf-4c7d-80bf-a8bc672be15b",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "jsCode": "\n\nreturn {\n  page: $input.first().json.page || 1\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        464
      ],
      "id": "95c9601b-81cd-4f45-84e1-458552bb90c5",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "14_e5HxhDkqZNEN6XBn8eeWR9zkW7Kb_A7w95Cb1EqI4",
          "mode": "list",
          "cachedResultName": "2025_01_vnexpress_raw_kttt",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14_e5HxhDkqZNEN6XBn8eeWR9zkW7Kb_A7w95Cb1EqI4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 289533496,
          "mode": "list",
          "cachedResultName": "articles",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14_e5HxhDkqZNEN6XBn8eeWR9zkW7Kb_A7w95Cb1EqI4/edit#gid=289533496"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "article_id"
          ],
          "schema": [
            {
              "id": "article_id",
              "displayName": "article_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "category_id",
              "displayName": "category_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "summary",
              "displayName": "summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "thumbnail_url",
              "displayName": "thumbnail_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "published_at",
              "displayName": "published_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "source_endpoint",
              "displayName": "source_endpoint",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "page_no",
              "displayName": "page_no",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "crawled_at",
              "displayName": "crawled_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1392,
        464
      ],
      "id": "deec846d-82ac-4899-afaf-8680704cebd9",
      "name": "Append or update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QtzrPRfk0EICW3io",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const now = new Date()\n  .toISOString()\n  .replace('T', ' ')\n  .substring(0, 19);   // yyyy-mm-dd hh:mm:ss\n\nconst sourceEndpoint = \"category_date\";\nconst pageNo = $input.first().json.page || $input.first().json.offset / $input.first().json.limit + 1 || 1;\n\nconst items = $input.first().json.data.map(article => {\n  return {\n    json: {\n      article_id: article.id,\n      category_id: article.category_id,\n      title: article.title,\n      summary: article.summary,\n      url: article.url,\n      thumbnail_url: article.thumbnail_url,\n      published_at: article.published_at,\n      source_endpoint: sourceEndpoint,\n      page_no: pageNo,\n      crawled_at: now,\n    }\n  };\n});\n\nreturn items;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        464
      ],
      "id": "97b6a011-b129-4540-984a-28a02fde947c",
      "name": "Code in JavaScript3",
      "executeOnce": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "clear",
        "documentId": {
          "__rl": true,
          "value": "14_e5HxhDkqZNEN6XBn8eeWR9zkW7Kb_A7w95Cb1EqI4",
          "mode": "list",
          "cachedResultName": "2025_01_vnexpress_raw_kttt",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14_e5HxhDkqZNEN6XBn8eeWR9zkW7Kb_A7w95Cb1EqI4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 289533496,
          "mode": "list",
          "cachedResultName": "articles",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14_e5HxhDkqZNEN6XBn8eeWR9zkW7Kb_A7w95Cb1EqI4/edit#gid=289533496"
        },
        "clear": "specificRows",
        "startIndex": 2,
        "rowsToDelete": "={{ $json.last_row_number }}"
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        448,
        1184
      ],
      "id": "1639793c-1793-48db-b833-e2aec3a6b4ec",
      "name": "Clear sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QtzrPRfk0EICW3io",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "14_e5HxhDkqZNEN6XBn8eeWR9zkW7Kb_A7w95Cb1EqI4",
          "mode": "list",
          "cachedResultName": "2025_01_vnexpress_raw_kttt",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14_e5HxhDkqZNEN6XBn8eeWR9zkW7Kb_A7w95Cb1EqI4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 289533496,
          "mode": "list",
          "cachedResultName": "articles",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14_e5HxhDkqZNEN6XBn8eeWR9zkW7Kb_A7w95Cb1EqI4/edit#gid=289533496"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        0,
        1184
      ],
      "id": "5f8a7a19-96cf-46d4-8c4e-5118a8241373",
      "name": "Get row(s) in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QtzrPRfk0EICW3io",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\n\nreturn {\n  last_row_number: $input.last().pairedItem.item + 1\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        1184
      ],
      "id": "fbfaed54-ebf4-40b4-8e07-f9ebd90b4aaf",
      "name": "Code in JavaScript4"
    },
    {
      "parameters": {
        "content": "## Clear All Articles",
        "height": 80,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        1072
      ],
      "typeVersion": 1,
      "id": "8386ce56-da26-468a-af99-da72a2524ba6",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Collect Articles",
        "height": 80,
        "width": 208,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        352
      ],
      "typeVersion": 1,
      "id": "6a442533-d3d2-4ac0-ba01-4c588deef36f",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "chatId": "1064798028",
        "text": "={{ $json.message }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        608,
        320
      ],
      "id": "f43cdd60-fa0f-4584-9888-bb930ded7384",
      "name": "Telegram1",
      "webhookId": "9060e1b0-b0f3-4f51-b4a0-4c2a1a7d6cfb",
      "credentials": {
        "telegramApi": {
          "id": "wz8BPQzb92lWSMyw",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rows = $('Get row(s) in sheet').all();\n\nlet text = `📊 REPORT: Crawl Categories (${rows.length} mục)\\n\\n`;\n\nrows.forEach((item, index) => {\n  const r = item.json;\n  text += `${index + 1}️⃣ Row: ${r.row_number}\\n`;\n  text += `• Category ID: ${r.category_id}\\n`;\n  text += `• URL: ${r.category_url}\\n`;\n  text += `• Date: ${r.from_date} → ${r.to_date}\\n\\n`;\n});\n\nreturn [{\n  json: {\n    message: text.trim()\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        320
      ],
      "id": "fe4d769a-f5ae-4e14-9567-a7a4bc411459",
      "name": "Code in JavaScript5"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "14_e5HxhDkqZNEN6XBn8eeWR9zkW7Kb_A7w95Cb1EqI4",
          "mode": "list",
          "cachedResultName": "2025_01_vnexpress_raw_kttt",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14_e5HxhDkqZNEN6XBn8eeWR9zkW7Kb_A7w95Cb1EqI4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1056631001,
          "mode": "list",
          "cachedResultName": "setting_articles",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14_e5HxhDkqZNEN6XBn8eeWR9zkW7Kb_A7w95Cb1EqI4/edit#gid=1056631001"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        0,
        832
      ],
      "id": "9fe2bfee-1860-4ae2-ae4f-f9e983357ca0",
      "name": "Get row(s) in sheet2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QtzrPRfk0EICW3io",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {
        "url": "=http://host.docker.internal:8000/api/v1/articles/{{ $('Loop Over Items1').first().json.article_id }}/comments?object_id={{ $('Loop Over Items1').first().json.article_id }}&limit=100&page={{ $json.page }}&sort_by=newest",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        608,
        832
      ],
      "id": "bf5f349e-b3a2-49df-ba29-39a58637ebd9",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        208,
        832
      ],
      "id": "3a04ae39-cc76-4f00-abac-74595790f858",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "88d24c41-3520-44f7-9979-1ba04ae45a7b",
              "leftValue": "={{ $('HTTP Request2').item.json.data }}",
              "rightValue": 0,
              "operator": {
                "type": "array",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1008,
        832
      ],
      "id": "d79d7ced-743c-4434-8486-ef28612df658",
      "name": "If1"
    },
    {
      "parameters": {
        "jsCode": "\n\nreturn {\n  page:$('Code in JavaScript7').first().json.page  +1\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1584,
        832
      ],
      "id": "b00aa694-8357-4956-a19a-38df6324f5ad",
      "name": "Code in JavaScript6"
    },
    {
      "parameters": {
        "jsCode": "\n\nreturn {\n  page: $input.first().json.page || 1\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        832
      ],
      "id": "28256d11-f2ee-4740-af0e-b23c557011e9",
      "name": "Code in JavaScript7"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "14_e5HxhDkqZNEN6XBn8eeWR9zkW7Kb_A7w95Cb1EqI4",
          "mode": "list",
          "cachedResultName": "2025_01_vnexpress_raw_kttt",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14_e5HxhDkqZNEN6XBn8eeWR9zkW7Kb_A7w95Cb1EqI4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1860243010,
          "mode": "list",
          "cachedResultName": "comments",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14_e5HxhDkqZNEN6XBn8eeWR9zkW7Kb_A7w95Cb1EqI4/edit#gid=1860243010"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "comment_id"
          ],
          "schema": [
            {
              "id": "article_id",
              "displayName": "article_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "comment_id",
              "displayName": "comment_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "author",
              "displayName": "author",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "content",
              "displayName": "content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "likes",
              "displayName": "likes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sort_by",
              "displayName": "sort_by",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "crawled_at",
              "displayName": "crawled_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1392,
        832
      ],
      "id": "88f57a18-4bad-44f9-9fcc-c3bc717c5e29",
      "name": "Append or update row in sheet2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QtzrPRfk0EICW3io",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\n// Lấy article_id từ input trước\nconst articleId = $('Loop Over Items1').first().json.article_id\n\n// sort_by do bạn truyền vào\nconst sortBy = \"newest\";\n\n// Format yyyy-mm-dd hh:mm:ss\nconst crawledAt = new Date().toISOString().replace('T', ' ').substring(0, 19);\n\nconst rows = input.data.map(c => ({\n  article_id: articleId,\n  comment_id: c.id,\n  author: c.author,\n  content: c.content,\n  created_at: c.created_at,  // HH:mm DD/MM từ API\n  likes: c.likes ?? 0,\n  sort_by: sortBy,\n  crawled_at: crawledAt,\n}));\n\nreturn rows.map(r => ({ json: r }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        832
      ],
      "id": "9fad3483-c589-4313-8628-2b050ddb5c7d",
      "name": "Code in JavaScript8",
      "executeOnce": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "content": "## Collect Comments",
        "height": 80,
        "width": 256,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        720
      ],
      "typeVersion": 1,
      "id": "4c7e5d71-044a-43e8-bf52-8163100835a1",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "chatId": "1064798028",
        "text": "={{ $json.message }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        608,
        688
      ],
      "id": "4b8ca196-248c-4ac1-b736-118e235add25",
      "name": "Telegram",
      "webhookId": "9060e1b0-b0f3-4f51-b4a0-4c2a1a7d6cfb",
      "credentials": {
        "telegramApi": {
          "id": "wz8BPQzb92lWSMyw",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let data = $('Get row(s) in sheet2').all();\n\nreturn [{\n  json: {\n    message: `📊 Tổng số bài báo đã lấy comments: ${data.length}`\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        688
      ],
      "id": "6404f2e8-9455-4bc9-85b5-623e8d0d8920",
      "name": "Code in JavaScript9"
    },
    {
      "parameters": {
        "operation": "clear",
        "documentId": {
          "__rl": true,
          "value": "14_e5HxhDkqZNEN6XBn8eeWR9zkW7Kb_A7w95Cb1EqI4",
          "mode": "list",
          "cachedResultName": "2025_01_vnexpress_raw_kttt",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14_e5HxhDkqZNEN6XBn8eeWR9zkW7Kb_A7w95Cb1EqI4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1860243010,
          "mode": "list",
          "cachedResultName": "comments",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14_e5HxhDkqZNEN6XBn8eeWR9zkW7Kb_A7w95Cb1EqI4/edit#gid=1860243010"
        },
        "clear": "specificRows",
        "startIndex": 2,
        "rowsToDelete": "={{ $json.last_row_number }}"
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        448,
        1472
      ],
      "id": "dc6ec92f-327e-4085-83da-67ec5ad8528d",
      "name": "Clear sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QtzrPRfk0EICW3io",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "14_e5HxhDkqZNEN6XBn8eeWR9zkW7Kb_A7w95Cb1EqI4",
          "mode": "list",
          "cachedResultName": "2025_01_vnexpress_raw_kttt",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14_e5HxhDkqZNEN6XBn8eeWR9zkW7Kb_A7w95Cb1EqI4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1860243010,
          "mode": "list",
          "cachedResultName": "comments",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14_e5HxhDkqZNEN6XBn8eeWR9zkW7Kb_A7w95Cb1EqI4/edit#gid=1860243010"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        0,
        1472
      ],
      "id": "2d5bee4c-ed99-4f79-aba1-4a68ccd8b25e",
      "name": "Get row(s) in sheet3",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QtzrPRfk0EICW3io",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\n\nreturn {\n  last_row_number: $input.last().pairedItem.item + 1\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        1472
      ],
      "id": "fef44360-cc34-4a57-a8c1-eff8d219765f",
      "name": "Code in JavaScript10"
    },
    {
      "parameters": {
        "content": "## Clear Comments",
        "height": 80,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        1360
      ],
      "typeVersion": 1,
      "id": "4807836b-0146-47bc-82f3-dfb9e2863ac6",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1216,
        832
      ],
      "id": "8243e5b8-ed84-435c-b24a-66156ee441f0",
      "name": "Wait",
      "webhookId": "84e0a160-db1a-4831-a555-119ec20a3235"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1216,
        464
      ],
      "id": "869653b4-a100-4263-af52-a9875afb4103",
      "name": "Wait1",
      "webhookId": "84e0a160-db1a-4831-a555-119ec20a3235"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Code in JavaScript5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet1": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "Code in JavaScript4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript4": {
      "main": [
        [
          {
            "node": "Clear sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript5": {
      "main": [
        [
          {
            "node": "Telegram1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet2": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Code in JavaScript8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Code in JavaScript9",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript6": {
      "main": [
        [
          {
            "node": "Code in JavaScript7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript7": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet2": {
      "main": [
        [
          {
            "node": "Code in JavaScript6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript8": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript9": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet3": {
      "main": [
        [
          {
            "node": "Code in JavaScript10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript10": {
      "main": [
        [
          {
            "node": "Clear sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Append or update row in sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Append or update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "76172c38-86d6-4441-ab26-0e6cdc168252",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fa5090fb69f3c69e946e219043983d308a737e5adb140841b7e943eb04b6b1e6"
  },
  "id": "dyfUSgbsOHgd5v10WJ9mE",
  "tags": []
}